<div class="container" >
  <form style="background-color: white; padding: 50px;">
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <label for="input" class="col-sm-2 col-form-label">Nro Documento</label>
      <div class="col-sm-6">
        <input type="number" class="form-control" name="documento" id="NroDocumento" [(ngModel)]="params.documento">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <label for="input" class="col-sm-2 col-form-label">Tipo Documento</label>
      <div class="col-sm-6">
        <select class="form-control "  name="tipoDocumento" [(ngModel)]="data.tipoDocumento"  >
          <option *ngFor="let data of dataTiposDocumento"  value="{{data.id}}">{{data.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
          <div class="col-sm-2"></div>
          <label for="input" class="col-sm-2 col-form-label">Categoria</label>
          <div class="col-sm-6">
            <select class="form-control " name="categoria" [(ngModel)]="datacat.categoria"  >
              <option *ngFor="let datacat of dataCategorias"  value="{{datacat.id}}">{{datacat.name}}</option>
            </select>
          </div>
    </div>
    <div class="form-inline">
        <div class="col-sm-2"></div>
        <div class="form-group">
          <mat-icon>star</mat-icon><label for="evento" class="col-sm-3 col-form-label">Cod. Evento</label>
            <div class="col-sm-3">
            <input type="text" class="form-control" id="evento" name="tipoevento" [(ngModel)]="params.tipoevento">
            </div>
        </div>
    </div>
    <div class="form-inline">
      <mat-icon style="float: right">star</mat-icon><div class="col-sm-2 font-weight-bold text-right">Facturacion</div>
      <div class="form-group">
          <label for="FFinal" class="col-sm-3 col-form-label">Fecha Inicial</label>
          <div class="col-sm-3">
            <mat-form-field>
              <input matInput name="fechaini" [(ngModel)]="params.FechaIni" [matDatepicker]="picker" (dateChange)="onDateIni($event)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        </div>
        <div class="form-group">
          <label for="FFinal" class="col-sm-3 col-form-label">Fecha Final</label>
          <div class="col-sm-3">
            <mat-form-field>
              <input matInput name="fechafin" [(ngModel)]="params.FechaFin" [matDatepicker]="picker1" (dateInput)="onDateFin($event)">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" style="float: right" (click)="onConsultar()"  type="submit">Consultar</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary" (click)="crearCliente()"  type="submit">Crear</button>
        </div>
      </div>
  </form>
  <mat-progress-bar *ngIf="progressBar" mode="indeterminate"></mat-progress-bar>

  <div class="card mb-3" >
  <div class="row no-gutters"  *ngIf="!processing">
                 
    <table class="table table-striped table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Tipo Doc.</th>
            <th scope="col">Documento</th>
            <th scope="col">Categoria</th>
            <th scope="col">Telefono</th>
            <th scope="col">Correo</th>
            <th scope="col">Pais</th>
            <th scope="col">Ciudad</th>
            <th *ngIf="colTotalFacturado" scope="col">Total Facturado</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let nav of dataClientes">
            <th scope="row">{{nav.userid}}</th>
            <td>{{nav.nombre}}</td>
            <td>{{nav.apellido}}</td>
            <td>{{nav.tipoDocumento}}</td>
            <td>{{nav.documento}}</td>
            <td>{{nav.estadoCliente}}</td>
            <td>{{nav.telefono}}</td>
            <td>{{nav.correo}}</td>
            <td>{{nav.pais}}</td>
            <td>{{nav.ciudad}}</td>
            <td *ngIf="colTotalFacturado">{{nav.TotalVentas | currency}}</td>
            <td> 
           <!----     <button type="button" class="btn btn-danger" (click)="cancelar(nav)">Cancelar</button>
                &nbsp;&nbsp; -->
                <button class="btn btn-primary btn-sm"  (click)="openDetail(nav)"  type="submit"><mat-icon style="float: right">remove_red_eye</mat-icon></button></td>
          </tr>
          
        </tbody>
      </table>
</div>
<div *ngIf="processing" style="margin-left: 50%">
    <mat-spinner></mat-spinner>
</div>
</div>
  <div class="row">
    <div class="col-md-12">
      <div class="mat-elevation-z8">
        <mat-paginator #paginator [length]="dataCount" [pageIndex]="params.Pagina" [pageSize]="params.pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="onPaginateChange($event)">
        </mat-paginator>            
      </div>
     </div>
   </div>
</div>