<div class="container-fluid" style="margin-bottom: 20px;">
    <div class="row ">
      <div class="col-auto mr-auto"> 
            <app-navegador  [params]="params"></app-navegador>
        </div>
      <div class="col-auto">
          <div class="card" style="width: 18rem;">
             <div class="card-body ">
              <div class="row">
                  <div class="col-2"><mat-icon>shopping_cart</mat-icon> </div>
                  <div class="col-7"> <a [routerLink]="['/carro']">Mi Carrito</a></div>
                </div>
              </div>
            </div>
       </div>
    </div>
    
  </div>
  <app-fecha-buscador [params]="params" ></app-fecha-buscador>
  
  <div class="container separador">
        <div class="container-fluid">
            <app-pasos-compra  [params]="params"></app-pasos-compra>
         </div>
        <mat-progress-bar *ngIf="progressBar" mode="indeterminate"></mat-progress-bar>
 </div>  
 <div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            6 Vuelos encontrados
          </div>
          </div>
    <div class="row">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                  Filtros                
                </div>
                <div class="card-body ">
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                      <input type="checkbox" class="custom-control-input" id="customControlInline">
                      <label class="custom-control-label" for="customControlInline">Todas las escalas</label>
                    </div>

                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="customControlInline">
                        <label class="custom-control-label" for="customControlInline">Directo</label>
                    </div>

                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="customControlInline">
                        <label class="custom-control-label" for="customControlInline">1 escala</label>
                    </div>

                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="customControlInline">
                        <label class="custom-control-label" for="customControlInline">2 o más escalas</label>
                    </div>
                </div>
                
              </div>
        </div>
        <div class="col-8">


            <div class="card mb-3"  *ngFor="let item of infoTable">
                <div class="row no-gutters">
                  <div class="col-md-9">
                    <div class="card-body ">
                       <ul class="list-group list-group-flush">
                            <li class="list-group-item background-grey">
                                <div class="row">
                                    <div class="col-sm">
                                      <P>IDA</P>
                                      <P>Lun. 15 Abril 2019</P>
                                    </div>
                                    <div class="col-sm">
                                      <P>BOG</P>
                                      <P>Bogotá</P>
                                    </div>
                                    <div class="col-sm">
                                      <P>MAD</P>
                                      <P>Madrid</P>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item background-white">
                                <div class="row">
                                    <div class="col-sm">
                                        <P>  <img [src]="item.imagen" class="card-img card-logo" alt="..."></P>
                                    </div>
                                    <div class="col-sm">
                                        <P>20:10</P>
                                    </div>
                                    <div class="col-sm">
                                        <P>22:10</P>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item background-grey">
                                <div class="row">
                                    <div class="col-sm">
                                      <P>IDA</P>
                                      <P>Lun. 15 Abril 2019</P>
                                    </div>
                                    <div class="col-sm">
                                      <P>MAD</P>
                                      <P>Madrid</P>
                                    </div>
                                    <div class="col-sm">
                                      <P>BOG</P>
                                      <P>Bogotá</P>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item background-white">
                                <div class="row">
                                    <div class="col-sm">
                                        <P>  <img [src]="item.imagen" class="card-img card-logo" alt="..."></P>
                                    </div>
                                    <div class="col-sm">
                                        <P>20:10</P>
                                    </div>
                                    <div class="col-sm">
                                        <P>22:10</P>
                                    </div>
                                </div>
                            </li>
                          </ul>
                    </div>
                  </div>
                  <div class="col-md-3 card-color-blue" >
                     <div class="card-body ">
                      <div class="row">
                          <div class="col-9"><p style="margin-left: 20%;">Precio unitario </p><p class="card-text" style="margin-left: 30%;">{{item.valor | currency}}</p></div>
                          <div class="col-9">  
                              <button type="button" (click)="addProducto(item)" style="margin-left: 20%;margin-top: 20px;" class="btn btn-success">Selecionar</button>
                              <button type="button" style="margin-left: 20%;margin-top: 20px;" (click)="openDetail(item)" class="btn btn-success">Detalle</button>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>



        </div>
      </div>
</div>