.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  .menuCerrar-Session {
    float: right;
    position: absolute;
    left: 90%;
}

.contacto-home{
  float: left;
        position: relative;
        left: 20%;
}
.baner_home{
    background-color: white;
    height: 60px;
    border-top: 2px solid rgb(238, 238 , 238);
    
}

.baner_iconos{
    float: left;
}

.icono_ticket{
    width: 40px;
    margin-top: 8px;
}

.baner_campaing{
    width: 100%;
    background-image: url('../../../assets/images/uefaChampionCampaing.jpg');
    height: 600px;
    background-size: 100%;
}

p.LogoInicial{
  float: right;
  position: absolute;
  left: 4%;
  font-size: 1.2em;
  font-weight: bold;
  color:  rgb(31, 72, 124) !important;
  
}

p.saludo{
  float: right;
  position: absolute;
  left: 80%;
  font-size: 0.7em;
  font-weight: bold;
  color:  rgb(31, 72, 124) !important;
  
}

.imageAudifono{
  width: 4% !important;
}

p.ventas{
  float: right;
  position: absolute;
  left: 40%;
  font-size: 0.9em;
  font-weight: bold;
  color:  rgb(31, 72, 124) !important;
  
}


div.bienvenida > h1{
  margin-top: 40px;
  margin-bottom: 15px;
}

div.bienvenida > img {
  margin: 20px;
  width: 45%;
}

@media (max-width: 425px){
  p.saludo{
    display: none;
  }
}

@media (max-width:1024px) {
  p.saludo{
    left: 75%;
  }
}

@media (max-width: 800px) {
  div.bienvenida > img {
    width: 65%;
  }
}


