<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="!shouldRun">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button name="click" (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <p class="LogoInicial">
      Toures Balón</p>
    <p class="ventas">
        <img alt="logo" class="imageAudifono" src="../../../assets/images/audifonos.png" >
      Para ventas 01 800 0292 2929</p>
    
    <p class="saludo"> {{ saludo }} </p>

    <button name="click"  mat-icon-button [matMenuTriggerFor]="menu" class="menuCerrar-Session ">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>Menú</span>
      </button>
       
      <button *ngIf="sesionUser" mat-menu-item>
          <mat-icon>flag</mat-icon>
          <span> Notificaciones</span>
     </button>
     <button *ngIf="sesionUser" mat-menu-item>
        <mat-icon>shopping_cart</mat-icon>
        <span> <a [routerLink]="['/carro']">Mi Carrito</a></span>
     </button>
    <button *ngIf="sesionUser" mat-menu-item>
        <mat-icon>perm_identity</mat-icon>
        <span> <a [routerLink]="['/datosusuario']">Mis Datos</a></span>
     </button>
     <button *ngIf="sesionUser" mat-menu-item>
        <mat-icon>all_inbox</mat-icon>
        <span> <a [routerLink]="['/ordenesusuario']">Mis Ordenes</a></span>
     </button>
     <button *ngIf="!sesionUser"  mat-menu-item>
      <mat-icon>assignment_ind</mat-icon>
      <span> <a [routerLink]="['/registro']">Registrar</a></span>
     </button>
      <button *ngIf="!sesionUser" mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span> <a [routerLink]="['/login']">Iniciar Sesión</a></span>
        </button>
      <button *ngIf="sesionUser" mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span> <a [routerLink]="['/logout']">Cerrar Sesión</a></span>
      </button>
      <button mat-menu-item>
          <mat-icon>flag</mat-icon>
          <span> Versión 0.51</span>
        </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <span><a mat-list-item [routerLink]="[nav.state]" *ngFor="let nav of navMenu">
            <mat-icon>{{nav.icon}}</mat-icon> &nbsp; {{nav.title}}
          </a></span>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content (click)="snav.toggle(false)">
      <div class="baner_home">
        <div class="baner_iconos" style="margin-left: 10%;">
          <img class="icono_ticket" alt="Paquetes" src="../../../assets/images/paquete.png" >
        </div>
        <div class="baner_iconos" style="margin-left: 2%;">
          <img class="icono_ticket" alt="Eventos" src="../../../assets/images/balon.png" >
        </div>
          <div class="baner_iconos" style="margin-left: 60%;">
          <img class="icono_ticket" alt="Tickets" src="../../../assets/images/ticket.png" >
        </div>
          <div class="baner_iconos" style="margin-left: 2%;">
          <img class="icono_ticket" alt="Pagos" src="../../../assets/images/tarjeta.png" >
        </div>
      </div>
      <div>
      <div  *ngIf="router.url =='/' || router.url =='/home'">
        <div class="baner_campaing">
        </div>
      </div>
        <div style="margin-top: 40px;">
          <router-outlet></router-outlet>
        </div>
        <div  *ngIf="router.url =='/' || router.url =='/home'">
          <app-campaing></app-campaing>
        </div>
       
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>