<div class="container-fluid" style="margin-bottom: 20px;">
    <div class="row ">
      <div class="col-auto mr-auto"> 
          <a class="nav-link" style="display: inline-block" href="#">TouresBalon</a>> 
          <a class="nav-link" style="display: inline-block" href="#">{{userInfo.username}}</a>> 
         Mis Ordenes 
        </div>
      <div class="col-auto">
          <div class="card" style="width: 18rem;">
             <div class="card-body ">
              <div class="row">
                  <div class="col-2"><mat-icon>shopping_cart</mat-icon> </div>
                  <div class="col-7"> <a [routerLink]="['/carro']">Mi Carrito</a></div>
                </div>
              </div>
            </div>
       </div>
       
    </div>
    
  </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
          {{ordenesCount}} Ordenes encontradas
          </div>
          </div>
    <div class="row">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                  Filtros                
                </div>
                <div class="card-body ">
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                      <input type="checkbox" class="custom-control-input" id="customControlInline">
                      <label class="custom-control-label" for="customControlInline">Todas los filtros</label>
                    </div>

                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="customControlInline">
                        <label class="custom-control-label" for="customControlInline">Fechas</label>
                    </div>

                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="customControlInline">
                        <label class="custom-control-label" for="customControlInline">Valor</label>
                    </div>

                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="customControlInline">
                        <label class="custom-control-label" for="customControlInline">Evento</label>
                    </div>
                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="customControlInline">
                        <label class="custom-control-label" for="customControlInline">Estado</label>
                    </div>
                </div>
                
              </div>
        </div>
        <div class="col-8">
          
            <div class="card mb-3" >
                <h2>Mis Ordenes</h2>
                <button class="btn btn-secondary"  (click)="action()"  type="submit">Actualizar</button>
                <div class="row no-gutters"  *ngIf="!processing">
                 

                    <table class="table table-striped">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Evento</th>
                            <th scope="col">Transporte</th>
                            <th scope="col">Hotel</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acción</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let nav of infoTable">
                            <th scope="row">{{nav.CodigoOrden}}</th>
                            <td>{{nav.FechaOrden}}</td>
                            <td>{{nav.ValorOrden | currency}}</td>
                            <td>{{nav.Evento.NombreEvento}}</td>
                            <td>{{nav.Transporte? nav.Transporte.EmpresaTransporteNombre:'N/A'}}</td>
                            <td>{{nav.Hotel? nav.Hotel.EmpresaHotelNombre:'N/A'}}</td>
                            <td>

                                    <div  *ngIf="nav.EstadoValorOrden=='Aprobada'" class="alert alert-success" role="alert">
                                            {{nav.EstadoValorOrden}}
                                    </div>
                                    <div  *ngIf="nav.EstadoValorOrden!='Aprobada'" >
                                            {{nav.EstadoValorOrden}}
                                    </div>
                            </td>
                            <td> 
                                <button *ngIf="nav.EstadoValorOrden!='Pagada' && nav.EstadoValorOrden!='Cancelada' && nav.EstadoValorOrden!='Rechazada' && (nav.Transporte? (nav.Transporte.EmpresaTransporte=='BOL'?false:true):true)" type="button" class="btn btn-danger" (click)="cancelarOrden(nav)">Cancelar Orden</button>
                                &nbsp;&nbsp;
                                <button class="btn btn-primary"  (click)="openDetail(nav)"  type="submit">ver</button>
                                &nbsp;&nbsp;
                                <button *ngIf="nav.EstadoValorOrden=='Aprobada' || nav.EstadoValorOrden=='Activa'" class="btn btn-secondary"  (click)="payment(nav)"  type="submit">Pagar</button>
                            </td>
                          </tr>
                          
                        </tbody>
                      </table>


                </div>
                <div *ngIf="processing" style="margin-left: 50%">
                    <mat-spinner></mat-spinner>
                </div>
            </div>
            
          </div>
      </div>
</div>