<div class="container" >
  <form style="background-color: white; padding: 50px;">
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <label for="input" class="col-sm-2 col-form-label">Nro Orden</label>
      <div class="col-sm-6">
        <input type="number" name="NroOrden" [(ngModel)] = "params.CodigoOrden" class="form-control" id="NroOrden">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <label for="input" class="col-sm-2 col-form-label">Codigo Evento</label>
      <div class="col-sm-6">
        <input type="text" name="Evento" [(ngModel)] = "params.CodigoEvento" class="form-control" id="Evento">
      </div>
    </div>

      <div class="form-group row">
        <div class="col-sm-1"></div>
        <label for="input" class="col-sm-3 font-weight-bold text-right">Total Facturado x Mes</label>
        <select class="form-control col-sm-3"  name="Mes" [(ngModel)]="datames.mes"  >
          <option *ngFor="let datames of dataMeses"  value="{{datames.cod}}">{{datames.name}}</option>
        </select>
        <label for="anio" class="col-sm-1 col-form-label">Año</label>
            <input type="number" name="Anio" [(ngModel)] = "params.Anio" class="form-control col-sm-1" id="Anio">
        </div>
        <div class="form-group row">
            <div class="col-sm-4"></div>
            <label class="col-sm-7 font-weight-bold col-form-label">
              <input type="checkbox" name="checkRanking" [(ngModel)] = "params.checkRanking" value=""> Ranking Ordenes Mas Tipo Abiertas
            </label>
        </div>
    <div class="form-inline">
      <mat-icon style="float: right">star</mat-icon><div class="col-sm-2 font-weight-bold text-right">Más Vendidos</div>
      <div class="form-group">
          <label for="FFinal" class="col-sm-3 col-form-label">Fecha Inicial</label>
          <div class="col-sm-3">
              <mat-form-field>
                  <input matInput name="fechaini" [matDatepicker]="picker" (dateChange)="onDateIni($event)" (dateInput)="onDateIni($event)">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
        </div>
        </div>
        <div class="form-group">
          <label for="FFinal" class="col-sm-3 col-form-label">Fecha Final</label>
          <div class="col-sm-3">
              <mat-form-field>
                  <input matInput name="fechafin" [matDatepicker]="picker1" (dateInput)="onDateFin($event)" (dateChange)="onDateFin($event)">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" style="float: right" (click)="onConsultar(1)"  type="submit">Consultar</button>
        </div>
      </div>
      <div *ngIf="colTotalFacturado" class="container">
        <span *ngFor="let nav of dataOrders">
          <label for="input"class="col-sm-6 font-weight-bold col-form-label" style="float: center">Nro Ordenes Cerradas: {{nav.TotalRegistros}}</label>
          <label for="input"class="col-sm-6 font-weight-bold col-form-label" style="float: center">Total Facturado: {{nav.TotalVendido | currency}}</label>
        </span>
      </div>
  </form>
  <mat-progress-bar *ngIf="progressBar" mode="indeterminate"></mat-progress-bar>

  <div class="card mb-3" *ngIf="!colTotalFacturado">
  <div class="row no-gutters"  *ngIf="!processing">
                 
    <table class="table table-striped table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Valor</th>
            <th scope="col">Evento</th>
            <th scope="col">Transporte</th>
            <th scope="col">Hotel</th>
            <th scope="col">Estado</th>
            <th *ngIf="colTotalFacturado" scope="col">Total Facturado</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let nav of dataOrders">
            <th scope="row">{{nav.CodigoOrden}}</th>
            <td>{{nav.FechaOrden}}</td>
            <td>{{nav.ValorOrden | currency}}</td>
            <td>{{nav.Evento.NombreEvento}}</td>
            <td>{{nav.Transporte? nav.Transporte.EmpresaTransporte:'N/A'}}</td>
            <td>{{nav.Hotel? nav.Hotel.NombreHotel:'N/A'}}</td>
            <td>{{nav.NombreEstadoOrden}}</td>
            <td> 
           <!----     <button type="button" class="btn btn-danger" (click)="cancelar(nav)">Cancelar</button>
                &nbsp;&nbsp; -->
                <button class="btn btn-primary btn-sm"  (click)="openDetail(nav)"  type="submit"><mat-icon style="float: right">remove_red_eye</mat-icon></button></td>
          </tr>
          
        </tbody>
      </table>
</div>
<div *ngIf="processing" style="margin-left: 50%">
    <mat-spinner></mat-spinner>
</div>
</div>
  <div class="row">
    <div class="col-md-12">
      <div class="mat-elevation-z8">
        <mat-paginator #paginator [length]="dataCount" [pageIndex]="params.Pagina" [pageSize]="params.pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="onPaginateChange($event)">
        </mat-paginator>            
      </div>
     </div>
   </div>
</div>