<div class="container" style="background-color: white"> 
    
  <div class="container-test-mode hidden-print"> 
    <div id="container-test-mode-body-sticky-wrapper" class="sticky-wrapper" style="height: 88px;">
      <div id="container-test-mode-body" class="test-mode-notice body-test-mode ng-isolate-scope"> 
        <div id="sub-content" class="hidden-print"></div><div class="test-mode-notice-box"> 
          <span class="ng-scope">Transacción en Proceso</span> 
        </div> 
      </div>
    </div> 
  </div>
  
<div class="container-fluid">
  <div class="row" style="padding-bottom: 20px;padding-top: 20px;">
    <div class="col-7 card" >
      <div class="card-header">
          <span class="fontpayment">   DATOS PERSONALES         </span>      
      </div>
      <form class="form-horizontal">
      <div class="card-body ">
        <div class="form-group row">
            <div class="col-sm-1"></div>
            <label for="input" class="col-form-label col-sm-3 grid-item">Nombre</label>
            
            <input type="text" [(ngModel)]="sessionUser.nombre" size="35" class="form-control col-sm-3 grid-item" readonly name="nombre" id="nombre">
        </div>
        <div class="form-group row">
            <div class="col-sm-1"></div>
            <label for="input" class="col-form-label col-sm-3 grid-item">Apellido</label>
            
            <input type="text" [(ngModel)]="sessionUser.apellido" size="35" class="form-control col-sm-3 grid-item" readonly name="apellido" id="apellido">
        </div>
        <div class="form-group row">
            <div class="col-sm-1"></div>
            <label for="input" class="col-form-label col-sm-3 grid-item">Documento de Identificación</label>
            
            <input type="text" [(ngModel)]="sessionUser.documento" size="35" class="form-control col-sm-3 grid-item" name="Documento" id="Documento">
        </div>
      </div>
      <div *ngIf="!tieneTarjetaRegistrar">
          <div style="padding: 20px;width: 100%;height: 20px;"></div>
          <div class="card-header">
              <span class="fontpayment">  DATOS DE TU TARJETA        </span>       
        </div>
          <div class="form-group row">
              <div class="col-sm-2"></div>
              <h4>Por Favor Ingresa tu número de tarjeta</h4>
            </div>
            <div class="form-group row">
                    <div class="col-sm-2"></div>
                <label for="validationServer01" class="col-sm-2 grid-item">Franquicia</label>
                <select class="form-control " class="form-control col-sm-5" name="franquiciaTarjeta">
                    <option *ngFor="let data of dataFranquicias"  value="{{data.id}}" >{{data.name}}</option>
                  </select>
            </div>
          <div class="form-group row">
              <div class="col-sm-2"></div>
              
              <label for="input" class="col-sm-2 grid-item">Nombre en la Tarjeta</label>
                <input type="text" [(ngModel)]="sessionUser.franquiciaTarjeta"  size="35" class="form-control col-sm-5" name="nombretarjeta" id="nombretarjeta">
            </div>
          <div class="form-group row">
            <div class="col-sm-2"></div>
              <label for="input" class="col-sm-2 grid-item">Numero de la Tarjeta</label>
              <input type="text" [(ngModel)]="sessionUser.numeroTarjeta"  size="35" class="form-control col-sm-5" name="nrotarjeta" id="nrotarjeta">
          </div>
          <div class="form-group row">
              <div class="col-sm-2"></div>
                <label for="input" class="col-sm-2 grid-item">Codigo de Seguridad</label>
                <input type="text"  [(ngModel)]="username"  size="35" class="form-control col-sm-2" name="ccv" id="ccv">
            </div>
            <div class="form-group row">
                <div class="col-sm-1"></div>
                <label for="input" class="col-form-label col-sm-3 grid-item">Mes vencimiento</label>
                <select class="form-control " class="col-sm-2 grid-item"  name="mes">
                    <option *ngFor="let date of dataMeses" >{{date.value}}</option>
                </select>
           </div>

           <div class="form-group row">
            <div class="col-sm-1"></div>
            <label for="input" class="col-form-label col-sm-3 grid-item">Año vencimiento</label>
            <select class="form-control "  class="col-sm-2 grid-item" name="ano">
                <option *ngFor="let date of dataAnos" >{{date.value}}</option>
              </select>
            </div>

            
      </div>
       
        <div class="form-group row">
            <div class="col-sm-2"></div>
              <label for="input" class="col-sm-2 grid-item">Telefono Celular</label>
              <input type="number" [(ngModel)]="sessionUser.telefono"  size="35" class="form-control col-sm-2" name="cuotas" id="cuotas">
        </div>
        <div class="card-header">
            <span class="fontpayment">  REALIZA EL PAGO     </span>          
      </div>
      <div class="card-body ">
      <div class="form-group row">
          <div class="col-sm-2"></div>
            <label for="input" class="col-sm-2 grid-item">Cuotas</label>
            <input type="number" size="35" class="form-control col-sm-2" name="cuotas" id="cuotas">
      </div>
        <div class="row">
            <div class="col-md-6">
                  <button *ngIf="!verificar" class="btn btn-success" style="float: right" (click)="veryfy()"  type="submit">Verificar</button>
                  <button *ngIf="verificar" class="btn btn-danger" style="float: right" (click)="pay()"  type="submit">Pagar</button>
              </div>
        </div>
      </div>
      </form>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                <span class="fontpayment">  RESUMEN DE LA COMPRA </span>              
            </div>
            <div class="card-body ">
                <div class="custom-control  mr-sm-2">
                    <label  ><span class="fontpayment"> Empresa:</span> Toures Balon</label>
                  </div>
              <div class="custom-control  mr-sm-2">
                  <label  ><span class="fontpayment"> Descripción:</span> Eventos deportivos</label>
                </div>
                 <div class="custom-control  mr-sm-2">
                       <span class="fontpayment">Total a pagar ......COP {{valorTotal | currency}} </span>
                      </div>
                      <div class="custom-control  mr-sm-2">
                          <label  >  <small> COP Pesos Colombianos</small></label>
                        </div>
            </div>
            <div class="card-header">
                <span class="fontpayment"> Medios de pago   </span>           
              </div>
              <div class="card-body ">
                  <img class="card-img"alt="Paquetes" src="../../../assets/pagos/medios-de-pago.png" >
              </div>
            
          </div>
    </div>
</div>
