<div class="container">
    <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                    <img alt="logo" class="imageLogo" src="../../../assets/images/logo.PNG" >
                    <nav class="navbar navbar-expand-lg navbar-dark unique-color">
                            <a class="navbar-brand" href="#">OMS</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="d-md-flex d-block flex-row mx-md-auto mx-0" id="navbarNavAltMarkup">
                              <div class="navbar-nav">
                                <a class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                <a class="nav-item nav-link" [routerLink]="['/Campañas']">Campañas</a>
                                <a class="nav-item nav-link" [routerLink]="['/Productos']">Productos</a>
                                <a class="nav-item nav-link" [routerLink]="['/Clientes']">Clientes</a>
                                <a class="nav-item nav-link"[routerLink]="['/Ordenes']">Ordenes</a>
                                <a class="nav-item nav-link"[routerLink]="['/login']">Iniciar Session</a>
                                <a class="nav-item nav-link"[routerLink]="['/logout']">Cerrar Session</a>
                                <!--<a class="nav-item nav-link"[routerLink]="['/Pasarela']">PP</a>-->
                              </div>
                            </div>
                          </nav>
            </div>
            <div class="col-md-1"></div>
</div>
</div>