
<div class="container">
    <div class="row" style="padding-bottom: 20px;padding-top: 20px;">
      <div class="col-9 card" >
        <div class="card-header">
            <span class="fontpayment">   Validar Resumen Compra        </span>      
        </div>
        <div class="container" style="background-color: white; padding: 30px;">
            <div style="padding: 0px 0px 40px 10px;"></div>
              <div class="row" >

                  <div class="col-12"><h5>CodigoOrden: {{CodigoOrden}}</h5> </div>
                  <div class="col-12"><h5>EstadoOrden: {{EstadoOrden}}</h5> </div>
                  <div class="col-12"><h5>FechaOrden : {{FechaOrden}}</h5> </div>
                  <div class="col-12"><h5>ValorOrden : {{ValorOrden | currency}}</h5> </div>
                  
                
                  <div class="col-12"> <a [routerLink]="['/ordenesusuario']">Mis Ordenes</a></div>


                  <button *ngIf="botonPagar"  class="btn btn-success" style="float: right" (click)="validarOrden()"  type="submit">Pagar</button>
                
                </div>
        </div>
      </div>
    </div>
  </div>
    