
<div class="container-fluid" style="margin-bottom: 20px;">
    <div class="row ">
      <div class="col-auto mr-auto"> 
            <app-navegador  [params]="params"></app-navegador>
        </div>
      <div class="col-auto">
          <div class="card" style="width: 18rem;">
             <div class="card-body ">
              <div class="row">
                  <div class="col-12"> 
                    <form>
                     <div class="row">
                        <div class="col-5" >
                        <small class="form-text text-muted" style="padding-bottom: 10px;">Realiza el pago:</small>
                        <button type="submit" (click)="pagar()" class="btn btn-primary">Pagar</button>
                        </div>
                        <div class="col-5" style="padding: 15px;" > Total: {{totalOrders | currency}}  </div>
                      </div>
                    </form></div>
                </div>
              </div>
            </div>
       </div>
    </div>
    
  </div>
  <div class="container separador">
        <div class="container-fluid">
            <app-pasos-compra  [params]="params"></app-pasos-compra>
         </div>
        <mat-progress-bar *ngIf="progressBar" mode="indeterminate"></mat-progress-bar>
    </div>  
 <div class="container" >
  <div style="padding: 0px 0px 40px 10px;"><h2>Resumen de Compra</h2></div>
    <div class="row" >
       
        <div class="card mb-3 col-md-10" *ngIf="countOrders == 0">
            <h4>No hay Elementos en el carrito, para seguir comprando da click en :
                <a [routerLink]="['/home']">Paquetes</a></h4>
        </div>
        <div class="card mb-3 col-md-6" *ngFor="let item of carrito">
            <div class="row no-gutters">
              <div class="col-md">
                <div class="card-body ">
                  <h5 class="card-title">Paquete</h5>
                  <ul class="list-group list-group-flush">
                            <li class="list-group-item background-grey" *ngIf="item.Evento">
                                <div class="row">
                                    <div class="col-sm">
                                      <P>Champion League</P>
                                      <P>Lun. 15 Abril 2019</P>
                                    </div>
                                    <div class="col-sm">
                                      <P>BOG</P>
                                      <P>Bogotá</P>
                                    </div>
                                    
                                </div>
                            </li>
                            <li class="list-group-item background-white" *ngIf="item.Evento">
                                <div class="row">
                                    <div class="col-sm">
                                      <P>Cantidad: {{item.Evento.Cantidad}}</P>
                                      <span ><a (click)="removerProducto(item,'E')"style="cursor: pointer;"><mat-icon>remove_circle</mat-icon></a></span>
                                      <span ><a (click)="addProducto(item,'E')"style="cursor: pointer;"><mat-icon>add_circle</mat-icon></a></span>
                                      
                                      
                                   </div>
                                   <div class="col-sm">
                                        <P>Valor unitario: {{item.Evento.ValorEvento | currency}} </P>
                                   </div>
                                    <div class="col-sm">
                                        <P>Total: {{item.Evento.ValorEvento * item.Evento.Cantidad  | currency}} </P>
                                     </div>
                                    
                                </div>
                            </li>
                            <li class="list-group-item background-grey" *ngIf="item.Transporte">
                                <div class="row">
                                    <div class="col-sm">
                                      <P>IDA</P>
                                      <P>Lun. 15 Abril 2019</P>
                                    </div>
                                    <div class="col-sm">
                                      <P>MAD</P>
                                      <P>Madrid</P>
                                    </div>
                                    <div class="col-sm">
                                      <P>BOG</P>
                                      <P>Bogotá</P>
                                    </div>
                                    
                                </div>
                            </li>
                            <li class="list-group-item background-white" *ngIf="item.Transporte">
                                <div class="row">
                                    <div class="col-sm">
                                        <P>  <img [src]="item.Transporte.imagen" class="card-img card-logo" alt="..."></P>
                                    </div>
                                    
                                    
                                </div>
                            </li>
                            <li class="list-group-item background-white" *ngIf="item.Transporte">
                                    <div class="row">
                                        <div class="col-sm">
                                           <P>Cantidad: {{item.Transporte.numSillas}}</P>
                                           <span ><a (click)="removerProducto(item,'T')"style="cursor: pointer;"><mat-icon>remove_circle</mat-icon></a></span>
                                           <span ><a (click)="addProducto(item,'T')"style="cursor: pointer;"><mat-icon>add_circle</mat-icon></a></span>
                                           <span ><a (click)="delteItemProducto(item,'T')"style="cursor: pointer;"><mat-icon>delete</mat-icon></a></span>

                                        </div>
                                        <div class="col-sm">
                                            <P>Valor unitario: {{item.Transporte.valor | currency}} </P>
                                        </div>
                                        <div class="col-sm">
                                            <P>Total: {{item.Transporte.valor * item.Transporte.numSillas  | currency}} </P>
                                        </div>
                                        
                                    </div>
                                </li>
       
     
                            <li class="list-group-item background-grey" *ngIf="item.Hotel">
                                <div class="row">
                                    <div class="col-sm">
                                      <P>Hotel</P>
                                      <P> {{item.Hotel.nombre}}</P>
                                     </div>
                                    <div class="col-sm">
                                      <P>Check-in</P>
                                     </div>
                                    <div class="col-sm">
                                      <P>Check-out</P>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item background-white" *ngIf="item.Hotel">
                                <div class="row">
                                     <div class="col-sm">
                                      <P>Cantidad: {{item.Hotel.cantidadPersonas}}</P>
                                      <span ><a (click)="removerProducto(item,'H')" style="cursor: pointer;"><mat-icon>remove_circle</mat-icon></a></span>
                                      <span ><a (click)="addProducto(item,'H')" style="cursor: pointer;"><mat-icon>add_circle</mat-icon></a></span>
                                      <span ><a (click)="delteItemProducto(item,'H')"style="cursor: pointer;"><mat-icon>delete</mat-icon></a></span>

                                    </div>
                                    <div class="col-sm">
                                        <P>Valor unitario: {{item.Hotel.valor | currency}} </P>
                                    </div>
                                    <div class="col-sm">
                                        <P>Total: {{item.Hotel.valor * item.Hotel.cantidadPersonas  | currency}} </P>
                                    </div>
                                    
                                </div>
                            </li>
                            
                          </ul>
                </div>
              </div>
              <div class="col-md-12 card-color-blue" style="margin-bottom: 10px;" >
                 <div class="card-body ">
                  <div class="row">
                        <div class="col-12" style="    padding: 20px;"> Total: {{item.precio | currency}}  </div>
                
                      <div class="col-5">  <button type="button" style="margin-top: 20px;" (click)="eliminarItem(item)" class="btn btn-danger">Eliminar</button></div>
                      <div class="col-5"><button type="submit"   style="margin-top: 20px;"(click)="pagar()" class="btn btn-success" >Pagar</button></div>
                    </div>
                </div>
              </div>
            </div>
        </div>
      
      
<!--
        <div class="card mb-3 col-md-5" >
            <div class="row no-gutters">
              <div class="col-md">
                <div class="card-body ">
                  <h5 class="card-title">Paquete</h5>
                  <ul class="list-group list-group-flush">
                            <li class="list-group-item background-grey">
                                <div class="row">
                                    <div class="col-sm">
                                      <P>Champion League</P>
                                      <P>Lun. 15 Abril 2019</P>
                                    </div>
                                    <div class="col-sm">
                                      <P>BOG</P>
                                      <P>Bogotá</P>
                                    </div>
                                    
                                </div>
                            </li>
                            <li class="list-group-item background-white">
                                <div class="row">
                                    <div class="col-sm">
                                      <P>Cantidad 2 Personas</P>
                                     </div>
                                    <div class="col-sm">
                                      <P>22:30</P>
                                    </div>
                                    
                                </div>
                            </li>
                            <li class="list-group-item background-grey">
                                <div class="row">
                                    <div class="col-sm">
                                      <P>IDA</P>
                                      <P>Lun. 15 Abril 2019</P>
                                    </div>
                                    <div class="col-sm">
                                      <P>MAD</P>
                                      <P>Madrid</P>
                                    </div>
                                    <div class="col-sm">
                                      <P>BOG</P>
                                      <P>Bogotá</P>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item background-white">
                                <div class="row">
                                    <div class="col-sm">
                                        <P>  <img src="../../../assets/vuelos/logo-bolivariano.jpg" class="card-img card-logo" alt="..."></P>
                                    </div>
                                    <div class="col-sm">
                                        <P>20:10</P>
                                    </div>
                                    <div class="col-sm">
                                        <P>22:10</P>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item background-grey">
                                <div class="row">
                                    <div class="col-sm">
                                      <P>Hotel</P>
                                      <P> Madrid</P>
                                     </div>
                                    <div class="col-sm">
                                      <P>Check-in</P>
                                     </div>
                                    <div class="col-sm">
                                      <P>Check-out</P>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item background-white">
                                <div class="row">
                                    <div class="col-sm">
                                      <P>2 personas</P>
                                    </div>
                                    <div class="col-sm">
                                      <P>Lun. 15 Abril 2019</P>
                                    </div>
                                    <div class="col-sm">
                                       <P>Lun. 15 Abril 2019</P>
                                    </div>
                                </div>
                            </li>
                            
                          </ul>
                </div>
              </div>
              <div class="col-md-12 card-color-blue" style="margin-bottom: 10px;" >
                 <div class="card-body ">
                  <div class="row">
                      <div class="col-9">  <button type="button" style="margin-top: 20px;" class="btn btn-danger">Eliminar</button></div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      
      -->
        
    </div>
  </div>