

<div class="container-fluid">
    <div class="row ">
      <div class="col-auto mr-auto"> 
        <app-navegador  [params]="params"></app-navegador>
      </div>
      <div class="col-auto">
          <div class="card" style="width: 18rem;">
             <div class="card-body ">
              <div class="row">
                  <div class="col-2"><mat-icon>shopping_cart</mat-icon> </div>
                  <div class="col-7">  <a [routerLink]="['/carro']">Mi Carrito</a></div>
                </div>
              </div>
            </div>
       </div>
    </div>
    
  </div>
  <app-panel-buscador [params]="params" (action)="action($event)"></app-panel-buscador>
<div class="container separador">
  <div class="container-fluid">
    <app-pasos-compra  [params]="params"></app-pasos-compra>
  </div>
   <mat-progress-bar *ngIf="progressBar" mode="indeterminate"></mat-progress-bar>
   <div class="row">
    <div class="col-sm">
        {{dataCount}} partidos encontrados
      </div>
   </div>
   <div class="row">
      <div class="col-sm" *ngFor="let item of dataEventos">
        <div class="card" style="width: 18rem;">
          <img [src]="item.imagen" class="card-img-top" alt="...">
          <div class="card-body card-color-blue">
              <div class="row">
                  <div class="col-6"><p >Precio unitario </p><p class="card-text" style="margin-left: 20%;">{{item.valorEvento | currency}}</p></div>
                  <div class="col-3">  
                    <button type="button"  (click)="addEvento(item)" class="btn btn-success">Selecionar</button>
                    <button type="button" style="margin-top: 10px;" (click)="openDetail(item)" class="btn btn-success">Detalle</button>
                  </div>
                </div>
          </div>
        </div>
      </div>
      
    </div>
    <mat-paginator #paginator [length]="dataCount" [pageIndex]="params.page" [pageSize]="params.pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="onPaginateChange($event)">
    </mat-paginator>
  </div>