<div class="container-fluid">
    <div class="row ">
      <div class="col-auto mr-auto"> 
          <a class="nav-link" style="display: inline-block" href="#">TouresBalon</a>> 
          <a class="nav-link" style="display: inline-block" href="#">Paquetes</a>> 
          <a class="nav-link" style="display: inline-block" href="#">Futbol</a>> 
          Champion League</div>
      <div class="col-auto">
          <div class="card" style="width: 18rem;">
             <div class="card-body ">
              <div class="row">
                  <div class="col-2"><mat-icon>shopping_cart</mat-icon> </div>
                  <div class="col-7">  <a [routerLink]="['/paquetes']">Mis Paquetes</a></div>
                </div>
              </div>
            </div>
       </div>
    </div>
    
  </div>
<div class="container separador">

<div class="row">
    <div class="col-sm">
        6 partidos encontrados
      </div>
      </div>
  <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/paquetes/Captura1.PNG" class="card-img-top" alt="...">
          <div class="card-body card-color-blue">
              <div class="row">
                  <div class="col-6"><p >Precio unitario </p><p class="card-text" style="margin-left: 20%;">$600.000</p></div>
                  <div class="col-3">  <button type="button" class="btn btn-success">Selecionar</button></div>
                </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/paquetes/Captura2.PNG" class="card-img-top" alt="...">
            <div class="card-body card-color-blue">
                <div class="row">
                    <div class="col-6"><p >Precio unitario </p><p class="card-text" style="margin-left: 20%;">$300.000</p></div>
                    <div class="col-3">  <button type="button" class="btn btn-success">Selecionar</button></div>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/paquetes/Captura3.PNG" class="card-img-top" alt="...">
                <div class="card-body card-color-blue">
                    <div class="row">
                        <div class="col-6"><p >Precio unitario </p><p class="card-text" style="margin-left: 20%;">$200.000</p></div>
                        <div class="col-3">  <button type="button" class="btn btn-success">Selecionar</button></div>
                      </div>
                </div>
              </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                  <img src="../../../assets/paquetes/Captura4.PNG" class="card-img-top" alt="...">
                  <div class="card-body card-color-blue">
                      <div class="row">
                          <div class="col-6"><p >Precio unitario </p><p class="card-text" style="margin-left: 20%;">$600.000</p></div>
                          <div class="col-3">  <button type="button" class="btn btn-success">Selecionar</button></div>
                        </div>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/paquetes/Captura5.PNG" class="card-img-top" alt="...">
                    <div class="card-body card-color-blue">
                        <div class="row">
                            <div class="col-6"><p >Precio unitario </p><p class="card-text" style="margin-left: 20%;">$300.000</p></div>
                            <div class="col-3">  <button type="button" class="btn btn-success">Selecionar</button></div>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img src="../../../assets/paquetes/Captura6.PNG" class="card-img-top" alt="...">
                        <div class="card-body card-color-blue">
                            <div class="row">
                                <div class="col-6"><p >Precio unitario </p><p class="card-text" style="margin-left: 20%;">$200.000</p></div>
                                <div class="col-3">  <button type="button" class="btn btn-success">Selecionar</button></div>
                              </div>
                        </div>
                      </div>
                    </div>
    </div>

  </div>