<div class="container" >
    <div class="row" >
       <div class="col-md-6 offset-md-3" style="background-color: white; padding: 30px;">
         <form>
            <div *ngIf="!processing">
           <h2>Ingreso de Usuario</h2>
          
          <div class="form-group">
            <label for="exampleInputEmail1">Usuario</label>
            <input type="email"  maxlength="15"   [(ngModel)]="username"  (change)="validateForm('username')" name="username" [ngClass]="validate.username.css" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Usuario" required>
            <div *ngIf="!validate.username.valid" class="invalid-feedback">
              {{validate.username.message}}
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" maxlength="15"   [(ngModel)]="password"  (change)="validateForm('password')" name="password" [ngClass]="validate.password.css"  class="form-control" id="exampleInputPassword1" placeholder="Contraseña" required>
            <div *ngIf="!validate.password.valid" class="invalid-feedback">
              {{validate.password.message}}
            </div>
            <small id="emailHelp" class="form-text text-muted">
                <a class="nav-link" style="display: inline-block" href="#">Olvidaste tu contraseña?</a> 
            </small>
          </div>
          
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Recuerdame</label>
          </div>
          <button type="submit" (click)="onSubmit()" class="btn btn-primary">Ingresar</button>

          <div class="row" >
              <div class="col-md-6 offset-md-3" style="background-color: white; padding: 30px;">
               <small class="form-text text-muted">No tienes cuenta?</small>
               <small  class="form-text text-muted">
                  <a class="nav-link" style="display: inline-block"[routerLink]="['/registro']">Crea una cuenta</a>
               </small>
              </div>
         </div>
        </div>
         <div *ngIf="processing" style="margin-left: 50%">
         <mat-spinner></mat-spinner>
         </div>
        </form>
      </div>
    </div>
  </div>